# sample of  file WifiMonitor.cfg:
#comment 
# maximal number of monitored devices is 35
#file WIFIMonitor.cfg
#automatic refresh is in miliseconds
$refresh=60000
#objects monitored by ping
WButbnC;192.168.200.135
WbutbnE;192.168.200.118
# $HW device monitored by trying to open http page, port number can be set too
$HWSkleniky;192.168.200.123:8001

